/*
    Created on : 2017-05-27, 17:22:43
    Author     : Krzychu
*/


body {

    color: #00ff03;

}
#footer {
    z-index: 90;
    width: 100%;
    background: #151515;
    box-shadow: inset 0 2px 0 -1px #00ff03;
}
#app-menu {
    border-right: 1px solid #00ff03;
    box-shadow: inset 0 -2px 0 -1px #00ff03;
    transition: left .1s ease-in;
}
#app-menu .list {
    position: absolute;
    background: #151515;
}
.app-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;
    width: 100%;
    height: 54px;
    background: #151515;
    box-shadow: inset 0 -2px 0 -1px #00ff03;
}
.header-panel-button {
    top: 0;
    border-right: #00ff03 1px solid;
    text-align: center;
    white-space: nowrap;
    background-color: #151515;
}
#history-button {
    right: 0;
    width: 54px;
    background: #151515;
    -webkit-box-shadow: inset 0 -2px 0 -1px #00ff03;
    -moz-box-shadow: inset 0 -2px 0 -1px #00ff03;
    box-shadow: inset 0 -2px 0 -1px #00ff03;
}
.header-panel-button.selected {
    border-right: none;
    background-color: #CECECE;
    cursor: default;
}

#chat-messages {
    border-bottom: #55ef06 1px solid;
}






#avatars-container {
    z-index: 1 !important;
    /* dlaczego avatary są wyżej niż chat ? obniżam warstwe aby ogniska nie blokowały funkcji czatu */
}

#avatars-container:before {
    position: absolute;
    z-index: -1;
    content: " ";
    display: block;
    background: url(https://media.giphy.com/media/opvm3FXT2qYus/giphy.gif) no-repeat;
    width: 210px;
    height: 300px;
    background-size: 205px 200px;
}
/*
#avatars-container:after {
    position: absolute;
    z-index: -1;
    content: " ";
    display: block;
    background: url(https://media.giphy.com/media/opvm3FXT2qYus/giphy.gif) no-repeat;
    width: 150px;
    height: 300px;
right: 21px;
  
    background-size: 150px 160px;
}

*/
#audience {
    z-index: 1;
    overflow: hidden;
}

#vote::before {
    position: absolute;
    z-index: -1;
    content: " ";
    display: block;
    background: url(https://media.giphy.com/media/jvQdgWel96thK/giphy.gif) no-repeat;
    width: 150px;
    height: 300px;

    bottom: -215%;
    background-size: 150px 110px;
}
#p3-dj-booth {
    background: no-repeat 50%;
    width: 300px;
    height: 100px;
    left: 24px;
    top: 120px;
    z-index: -1;
}


