/*
    Created on : 2017-05-27, 17:22:43
    Author     : Krzychu
*/

#avatars-container {
    z-index: 1 !important;
    /* dlaczego avatary są wyżej niż chat ? obniżam warstwe aby ogniska nie blokowały funkcji czatu */
}

#avatars-container:before {
    position: absolute;
    z-index: -1;
    content: " ";
    display: block;
    background: url(https://media.giphy.com/media/3o8dpbSeoqQZNvjANq/giphy.gif) no-repeat;
    width: 210px;
    height: 300px;
    background-size: 205px 200px;
}
#avatars-container:after {
    position: absolute;
    z-index: -1;
    content: " ";
    display: block;
    background: url(https://media.giphy.com/media/opvm3FXT2qYus/giphy.gif) no-repeat;
    width: 150px;
    height: 300px;
right: 21px;
  
    background-size: 150px 160px;
}


#audience {
    z-index: 1;
    overflow: hidden;
}

#vote::before {
    position: absolute;
    z-index: -1;
    content: " ";
    display: block;
    background: url(https://media.giphy.com/media/jvQdgWel96thK/giphy.gif) no-repeat;
    width: 150px;
    height: 300px;

    bottom: -215%;
    background-size: 150px 110px;
}
#p3-dj-booth {
    background: no-repeat 50%;
    width: 300px;
    height: 100px;
    left: 24px;
    top: 120px;
    z-index: -1;
}
