/*
    Created on : 2017-05-27, 17:22:43
    Author     : Krzychu
*/

#avatars-container {
    z-index: 1 !important;
    /* dlaczego avatary są wyżej niż chat ? obniżam warstwe aby ogniska nie blokowały funkcji czatu */
}

#avatars-container:before,
#avatars-container:after {
    position: absolute;
    z-index: -1;
    content: " ";
    display: block;
    background: url(https://media.giphy.com/media/ij82346NrQ3ao/giphy.gif) no-repeat;
    width: 150px;
    height: 300px;
}

#avatars-container:after {
    bottom: 30%;
    left: -80px;
    background-size: 200px 300px;
}

#avatars-container:before {
    right: -50px;
    bottom: 30%;
    background-size: 150px 250px;
}
#audience {
    z-index: 1;
    overflow: hidden;
}
